<%- include("../partials/header.ejs") %>

<form action="/cohorts" method="POST">
  <%- include("../partials/formInput.ejs") %>
  <br>
  <div class="float-end me-3">
      <button type="submit" value="Create Cohort" class="btn btn-outline-primary"> Submit </button>
  </div>
</form>

<%- include("../partials/footer.ejs") %>
